.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    background: rgb(16, 2, 38);
}
.backgroundImg {
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("../assets/imgs/front-developer.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mainexchange--img {
        position: relative;
        width: 40px;
        height: 40px;
        top: -10px;
        align-content: center;
}
.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container--h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--off-white);
}
.main-exchange-container--p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: rgb(108, 121, 134);
}

